<a href="https://colab.research.google.com/github/saishdesai23/Customer-Order-Analysis/blob/main/case_study_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Customer order Analysis

In [36]:
#importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [42]:
customer_order = pd.read_csv("/content/casestudy.csv")
customer_order.drop(columns=['Unnamed: 0'], inplace=True)
customer_order.head()

          customer_email  net_revenue  year
0   nhknapwsbx@gmail.com       249.92  2015
1   joiuzbvcpn@gmail.com        87.61  2015
2   ukkjctepxt@gmail.com       168.38  2015
3   gykatilzrt@gmail.com        62.40  2015
4   mmsgsrtxah@gmail.com        43.08  2015

# 1. Total revenue for current year

In [38]:
# grouping the dataframe by year
revenue_per_year = customer_order.groupby(['year']).sum()

# resetting the index
revenue_per_year.reset_index(inplace=True)

# removing the redundant column and renaming the required columns
revenue_per_year = revenue_per_year.rename(columns = {'year':'current_year'})[['current_year','net_revenue']]
revenue_per_year

   current_year  net_revenue
0          2015  29036749.19
1          2016  25730943.59
2          2017  31417495.03

#2. New Customer Revenue

Here we will use one hot encoding for the column 'year'. The column year as 3 values, so 3 columns will be generated.

Customers newly added in 2016 will a value of 1 in column __"2016"__ and a value of 0 in column __"2015"__. We can filter these entries to get our output

Here we will not consider the year 2015 as it not does have any previous year to evaluate adding of new customers.

## a. New Customers added in 2016

In [51]:
customer_order_onehotcoded = pd.concat([customer_order, pd.get_dummies(customer_order['year'])],axis=1)
# new customers added in 2016
new_cutomers_2016 = customer_order_onehotcoded.loc[
                               (customer_order_onehotcoded[2015]==0)
                              &(customer_order_onehotcoded[2016]==1)]
new_cutomers_2016 = new_cutomers_2016.drop_duplicates(subset=['customer_email'])

new_cutomers_2016

               customer_email  net_revenue  year  2015  2016  2017
231294   mwrossuukz@gmail.com       197.26  2016     0     1     0
231295   gkwsoupawk@gmail.com        38.28  2016     0     1     0
231296   vlyigtgfzs@gmail.com       154.57  2016     0     1     0
231297   yfirychuhk@gmail.com       102.47  2016     0     1     0
231298   trnzgqinuu@gmail.com        32.03  2016     0     1     0
...                       ...          ...   ...   ...   ...   ...
435935   mezrjfkced@gmail.com       114.17  2016     0     1     0
435936   rdotspqdxi@gmail.com       169.79  2016     0     1     0
435937   fkweqlmmjw@gmail.com        79.71  2016     0     1     0
435938   pidugzoeej@gmail.com       116.80  2016     0     1     0
435939   kxqglfdktu@gmail.com        37.31  2016     0     1     0

[204646 rows x 6 columns]

## b. New Customers added in 2017

In [49]:
# new customers added in 2017
new_cutomers_2017 = customer_order_onehotcoded.loc[
                               (customer_order_onehotcoded[2016]==0)
                              &(customer_order_onehotcoded[2017]==1)]
new_cutomers_2017 = new_cutomers_2016.drop_duplicates(subset=['customer_email'])


new_cutomers_2017

               customer_email  net_revenue  year  2015  2016  2017
435940   mwrossuukz@gmail.com        96.61  2017     0     0     1
435941  qvjfterwnk@gmail.com        176.00  2017     0     0     1
435942   vlyigtgfzs@gmail.com        73.47  2017     0     0     1
435943   yfirychuhk@gmail.com       138.17  2017     0     0     1
435944   fdkiioqtli@gmail.com       156.87  2017     0     0     1
...                       ...          ...   ...   ...   ...   ...
685922   qzqttwiftu@gmail.com       184.58  2017     0     0     1
685923   pjodiifjop@gmail.com       133.03  2017     0     0     1
685924   appaplmgko@gmail.com       200.98  2017     0     0     1
685925   wvkpmwsgck@gmail.com       235.35  2017     0     0     1
685926   aregboumbw@gmail.com       208.43  2017     0     0     1

[249987 rows x 6 columns]

#3. Existing customer Growth

We will consider the entries of cunstomers which appear in 2 consecutive years to identify existing customers accross 2 years

Then we will join the dataframe from 2 consecutive years on the customer email ids. The growth of each existing customer will be evaluated by subtracting the net_revenue of customer in the previous year from the net_revenue of customer in the current year

Here we will not consider the column 2015 as it does not have any previous year to compare for growth


## a. Existing customer growth from 2015 to 2016 (for 2016)

In [61]:
# filtering existing customers from 2015
current_year = customer_order[customer_order['year'] == 2015]

# filtering existing customers from 2016
next_year = customer_order[customer_order['year'] == 2016]

#merging the existing cutomers on the customer email
existing_cutomers_growth_2015 = current_year.merge(next_year, how='inner', on = 'customer_email')
existing_cutomers_growth_2015.columns = ['customer_email','net_revenue_2015','2015','net_revenue_2016','2016']
existing_cutomers_growth_2015['growth'] = existing_cutomers_growth_2015['net_revenue_2016'] - existing_cutomers_growth_2015['net_revenue_2015']

existing_cutomers_growth_2015

,customer_email,net_revenue_2015,2015,net_revenue_2016,2016,growth
0,baiikostmd@gmail.com,170.70,2015,142.57,2016,-28.13
1,lfeafnigbu@gmail.com,54.99,2015,35.06,2016,-19.93
2,tqxsjlgjpi@gmail.com,107.71,2015,33.50,2016,-74.21
3,hxshgpdxtr@gmail.com,180.59,2015,217.35,2016,36.76
4,zvhsssvgor@gmail.com,21.55,2015,43.84,2016,22.29
...,...,...,...,...,...,...
59579,tpdtoiokyt@gmail.com,82.88,2015,5.60,2016,-77.28
59580,yeserbsmyf@gmail.com,46.60,2015,83.72,2016,37.12
59581,nyunstvnpc@gmail.com,24.97,2015,18.56,2016,-6.41
59582,mezrjfkced@gmail.com,118.19,2015,114.17,2016,-4.02
59583,kxqglfdktu@gmail.com,73.32,2015,37.31,2016,-36.01

## b. Existing customer growth from 2016 to 2017 (for 2017)

In [62]:
# filtering existing customers from 2016
current_year = customer_order[customer_order['year'] == 2016]

# filtering existing customers from 2017
next_year = customer_order[customer_order['year'] == 2017]

#merging the existing cutomers on the customer email
existing_cutomers_growth_2016 = current_year.merge(next_year, how='inner', on = 'customer_email')
existing_cutomers_growth_2016.columns = ['customer_email','net_revenue_2016','2016','net_revenue_2017','2017']
existing_cutomers_growth_2016['growth'] = existing_cutomers_growth_2016['net_revenue_2017'] - existing_cutomers_growth_2015['net_revenue_2016']

existing_cutomers_growth_2016

,customer_email,net_revenue_2016,2016,net_revenue_2017,2017,growth
0,yixtbjnxce@gmail.com,201.32,2016,133.86,2017,-8.71
1,gwqjyelgct@gmail.com,14.62,2016,164.10,2017,129.04
2,hxshgpdxtr@gmail.com,217.35,2016,178.10,2017,144.60
3,gipqsrvngd@gmail.com,156.06,2016,172.90,2017,-44.45
4,cdvwonzpwu@gmail.com,140.43,2016,102.46,2017,58.62
...,...,...,...,...,...,...
20954,flkeldljhv@gmail.com,211.68,2016,180.01,2017,94.78
20955,ecrvkbfunu@gmail.com,230.49,2016,205.42,2017,128.28
20956,tpdtoiokyt@gmail.com,5.60,2016,242.63,2017,171.38
20957,dcakqgznnm@gmail.com,146.47,2016,62.66,2017,-90.62
20958,fkweqlmmjw@gmail.com,79.71,2016,21.78,2017,-196.97

# 4. Revenue lost from Attrition
We will consider the dataframe generated from the previous question __"existing_cutomers_growth_2015"__ and __"existing_cutomers_growth_2016"__.

For getting the revenue lost will sum of the negative growth values for each year.

We will not consider the year 2015 as it does not have previous to compare the reduction in the revenue

## a. Revenue lost in 2016

In [72]:
# revenue lost in 2016
lost_revenue_2016 = existing_cutomers_growth_2015[existing_cutomers_growth_2015['growth']<0]
print("Revenue lost in 2016 due to attrition :", round(abs(sum(lost_revenue_2016['growth'])),2))

Revenue lost in 2016 due to attrition : 2456027.9

## b. Revenue lost in 2017

In [73]:
# revenue lost in 2017
lost_revenue_2017 = existing_cutomers_growth_2016[existing_cutomers_growth_2016['growth']<0]
print("Revenue lost in 2017 due to attrition :", round(abs(sum(lost_revenue_2017['growth'])),2))

Revenue lost in 2017 due to attrition : 868535.01

#5.